body{
  margin: 0;
   
}
.red{
  background-color: red;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 400px;
  left: 400px;
}
.blue{
  background-color: blue;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 200px;
  left: 200px;


}
.yellow{
  background-color: yellow;
  width: 200px;
  height: 200px;
  position: absolute;


}
